.limiterEden {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(135deg, #cdf0cf 50%, #195222 50%);
  position: absolute;
}

.limiterMirador {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(215deg, #87a3f1 50%, #335192 50%);
  position: absolute;
}

.limiterManantial {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(10deg, #c9f3d2 50%, #315c3c 30%);
  position: absolute;
}

.limiterJardin {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(80deg, #d3666f 50%, #edeeb0 50%);
  position: absolute;
}

.limite {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  position: absolute;
  background: linear-gradient(180deg, #752f2f, #201318);
}

.limiteOfert {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  position: absolute;
  background: gray;
}

.background-animate {
  background-size: 400%;
  
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
